asgiref==3.6.0
certifi==2022.12.7
charset-normalizer==3.1.0
Django==4.2
easydict==1.10
idna==3.4
nba-api==1.2
numpy==1.24.3
psycopg2==2.9.6
pyscopg2==66.0.2
requests==2.28.2
sqlparse==0.4.4
urllib3==1.26.15
