{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Sports Scores</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
    <style>
        .navbar-dark .nav-item .nav-link {
            text-align:center;
            color: white;
        }

        .navbar-dark .nav-item .nav-link:hover {
            background-color: rgba(255, 255, 255, 0.1);
            transition: all 0.3s ease;
            border-radius: 0.25rem;
            color: white
        }

        .fa-li {
            position: relative;
            left: 0;
        }

        .text-color{
            color: white;
        }
    </style>
</head>

<body style="background-color: #282b30; font-family: 'Rubik', sans-serif;">
    <!--Navigation bar-->
    <div id="nav-placeholder">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #282b30;">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Navbar brand -->
                <a class="navbar-brand" href="/"><img id="MDB-logo"
                        src="/static/logo.png"
                        alt="MDB Logo" draggable="false" height="30" /></a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form action="{% url 'search' %}" method="get" class="d-flex align-items-center w-100 form-search">
                        <div class="input-group">
                            <input name="prompt" type="search" class="form-control" placeholder="Search"
                                aria-label="Search" />
                        </div>
                        <a href="#!" class="text-color"><i class="fa fa-search ps-3"></i></a>
                    </form>

                    <ul class="navbar-nav ms-3">
                        <li class="nav-item me-3">
                            <a class="nav-link d-flex align-items-center" href="/schedule">
                                <i class="fa fa-calendar pe-2"></i> Schedule
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center me-3" href="#!">
                                <i class="fa fa-heart pe-2"></i> Favorites
                            </a>
                        </li>

                        {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center me-3" href="/logout">
                                <i class="fa fa-user pe-2"></i>Logout
                            </a>
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <a class="nav-link d-flex align-items-center me-3" href="/login/">
                                <i class="fa fa-user pe-2"></i>Login/Signup
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Collapsible wrapper -->
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </div>

    <hr class="text-color">
    <div class="row" style="padding: 50px; padding-bottom: 20px;">
        {%if not ids%}
        <div class="card-header text-center text-color">
            <h1>No Games Scheduled for Today</h1>
            <h3>(2022-23 Season Has Ended)</h3>
        </div>
        {%endif%}
        {% for id in ids %}
        {% for key, value in games.items %}
        {% if key == id %}
        <div class="row-md-8" style="padding-bottom: 20px;">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="card" style="background-color: #36393e; border:#36393e; border-width:1px; border-style:groove;">
                        <div class="card-header text-center text-color">
                            <h4>Scoreboard</h4>
                            <hr class="text-color">
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-5 text-center">
                                    <img src="https://cdn.nba.com/logos/nba/{{value.home.teamId}}/primary/L/logo.svg"
                                        alt="{{value.home.teamName}}" class="img-fluid img-thumbnail"
                                        style="max-width: 150px; max-height: 150px;">
                                    <h5 class="mt-3 text-color">{{value.home.teamName}}</h5>
                                    <h1 id="homescore" class="display-4 text-color"><span id="{{value.home.teamId}}-score"></span>
                                    </h1>
                                    <h5 class="mt-3 text-color" id="homeseries">({{value.home.wins}} - {{value.home.losses}})</h5>
                                    <hr class="text-color">
                                    <!-- <h5>Score</h5> -->
                                </div>
                                <div
                                    class="col-2 text-center d-flex flex-column justify-content-center align-items-center">
                                    <!-- Game clock and period -->
                                    <h1 style="font-size: 30px; font-weight: bold; overflow: auto; white-space: nowrap; text-transform: uppercase;" id="gameclock-{{id}}"
                                        class="display-4 text-color"></h1>
                                    <p style="font-size: 14px;" id="period-{{id}}" class="display-4 text-color"></p>
                                    <br>
                                    <br>
                                    <u class="text-color">
                                        <h1 style="font-size: 20px; font-weight: bold;" id="series-{{id}}"
                                            class="display-4 text-color">{{series}}</h1>
                                    </u>
                                </div>
                                <div class="col-5 text-center text-color">
                                    <img src="https://cdn.nba.com/logos/nba/{{value.away.teamId}}/primary/L/logo.svg"
                                        alt="{{value.away.teamName}}" class="img-fluid img-thumbnail"
                                        style="max-width: 150px; max-height: 150px;">
                                    <h5 class="mt-3 text-color">{{value.away.teamName}}</h5>
                                    <h1 id="awayscore" class="display-4 text-color"><span id="{{value.away.teamId}}-score"></span>
                                    </h1>
                                    <h5 class="mt-3 text-color" id="homeseries">({{value.away.wins}} - {{value.away.losses}})</h5>
                                    <hr class="text-color">
                                    <!-- <h5>Score</h5> -->
                                    <a href="/play-by-play/?id={{id}}" class="stretched-link"></a>
                                </div>
                                <!-- <div class="row justify-content-center mt-4">
                  <div class="col-4 text-center">
                    <h5>Game Time:</h5>
                    <p id="game-time" class="lead"></p>
                  </div>
                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>

    <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">
            <h4>Scoreboard</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-6 text-center">
                <img src="team-a-logo.png" alt="Team A Logo" class="img-fluid img-thumbnail" style="max-width: 100px; max-height: 100px;">
                <h5 class="mt-3">Team A</h5>
                <h1 id="team-a-score" class="display-4 my-4">0</h1>
              </div>
              <div class="col-6 text-center">
                <img src="team-b-logo.png" alt="Team B Logo" class="img-fluid img-thumbnail" style="max-width: 100px; max-height: 100px;">
                <h5 class="mt-3">Team B</h5>
                <h1 id="team-b-score" class="display-4 my-4">0</h1>
              </div>
            </div>
            <div class="row justify-content-center mt-4">
              <div class="col-4 text-center">
                <h5>Game Time:</h5>
                <p id="game-time" class="lead">00:00 - 1st Quarter</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


    <!-- <script src="/static/nav.js"></script> -->
    <script>
        function runCode() {
            var hours = 25;
            current_hours = new Date().getHours();
            $(document).ready(function () {
                function updateScore() {
                    var customHeaders = {
                        'Host': 'stats.nba.com',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:61.0) Gecko/20100101 Firefox/61.0',
    'Accept': 'application/json, text/plain, */*',
    'Accept-Language': 'en-US,en;q=0.5',
    'Accept-Encoding': 'gzip, deflate, br',
    'Connection': 'keep-alive',
                    };
                    $.ajax({
                        url: "http://18.118.25.177:8080/https://cdn.nba.com/static/json/liveData/scoreboard/todaysScoreboard_00.json",
                        type: "GET",
                        headers: customHeaders,
                        proxy: '127.0.0.1:80', // add this line
                        dataType: 'json',
                        success: function (data) {
                            var latest_score = data.scoreboard.games;
                            for (var key in latest_score) {
                                if (latest_score.hasOwnProperty(key)) {
                                    var test = latest_score[key].gameEt

                                    var game_id = latest_score[key].gameId;
                                    var home_team_id = latest_score[key].homeTeam.teamId
                                    var away_team_id = latest_score[key].awayTeam.teamId

                                    hours = Math.min(hours, parseInt(test.substring(test.indexOf("T") + 1, test.indexOf("T") + 3)))

                                    var home_team_score = latest_score[key].homeTeam.score
                                    var away_team_score = latest_score[key].awayTeam.score
                                    var status = latest_score[key].gameStatusText;

                                    var home_str = "#" + home_team_id + "-score"
                                    var away_str = "#" + away_team_id + "-score"
                                    var series = "#series-" + game_id
                                    $(home_str).text(home_team_score);
                                    $(away_str).text(away_team_score);
                                    $(series).text(latest_score[key].seriesText);

                                    var statusHome = "#gameclock-" + game_id;

                                    $(statusHome).text(status);
                                }
                            }
                        }
                    });
                }
                updateScore()
                setInterval(updateScore, 2000);
            });
        }
        runCode()
    </script>
</body>

</html>